ul {
    color: forestgreen;
    font-family: fantasy;
}

.estilo1 {
    color: red;
    font-weight: bold;
    background-color: black;
    width: 200px;
    height: 95px;
}

.caja1 {
    text-align: left;
    border-style: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: green;
    width: 250px;
    height: 190px;
    position: static;
    padding-bottom: 15px;
}

.caja2 {
    text-align: center;
    border-style: double;
    background-color: red;
    width: 220px;
    height: 170px;
    position: static;
}

#imagen {
    filter: sepia(80%);
}